{% extends "admin/layout.html" %} {% block content %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Data Pangan Berkualitas</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Pangan Berkualitas</a></li>
            <li class="breadcrumb-item active">Data Pangan Berkualitas</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-danger card-outline">
            <div class="card-header">
              <div class="card-tools">
                <ul class="nav nav-pills ml-auto p-2">
                    <li class="nav-item"><a class="nav-link active" href="#tab-data" data-toggle="tab">List Data</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tab-penyuluh" data-toggle="tab">Data Penyuluh</a></li>
                    <li class="nav-item">
                      <div class="dropdown float-right" style="padding-left: 15px;">
                        <button type="button" class="btn btn-primary"><i class="fas fa-bars"></i></button>
                        <div class="dropdown-content">
                          <a href="#" id="add-pangan">Tambah Data</a>
                          <a href="#" onclick="openNav()">Tambah Penyuluh</a>
                        </div>
                      </div>
                    </li>
                </ul>
              </div>
            </div>
              <div class="card-body">
        <input id="param" value="Televisi" hidden>
        <div class="tab-content">
          <div class="tab-pane active" id="tab-data">
            <table class="table table-bordered table-hover" id="list-pangan">
                <thead>
                    <tr>
                      <th>No</th>
                      <th>Penyuluh</th>
                      <th>Kabupaten</th>
                      <th>Kecamatan</th>
                      <th>Kelurahan</th>
                      <th>Petani</th>
                      <th>Varietas</th>
                      <th>Tgl Panen</th>
                      <th>Nama Veridikasi</th>
                      <th>Instansi</th>
                      <th>Stok</th>
                      <th>Foto</th>
                      <th>Action</th>
                    </tr>
                </thead>
            </table>
          </div>
          <div class="tab-pane" id="tab-penyuluh">
            <table class="table table-bordered table-hover" id="list-penyuluh" style="width:100%;">
              <thead>
                <tr>
                  <th>
                      No
                    </th>
                    <th>
                      Nama Penyuluh Pendamping
                    </th>
                    <th>
                      NIP Penyuluh
                    </th>
                    <th>
                      NIK Penyuluh
                    </th>
                    <th>
                      Status Penyuluh
                    </th>
                    <th>
                      Action
                    </th>
                  </tr>
                </thead>
              </table>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div id="mySidenav" class="sidenav card card-danger card-outline" style="width:250px;display:none;">
  <div class="card-header" style="padding: 0 10% 0 0;">
    <div class="card-tools">
      <a href="javascript:void(0)" class="" onclick="closeNav()">&times;</a>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="nama_penyuluh">Nama Penyuluh:</label>
          <input type="text" class="form-control" id="nama_penyuluh" placeholder="">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="nip_penyuluh">NIP Penyuluh:</label>
          <input type="text" class="form-control" id="nip_penyuluh" placeholder="">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="nik_penyuluh">NIK Penyuluh:</label>
          <input type="text" class="form-control" id="nik_penyuluh" placeholder="">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="status_penyuluh" class="col-sm-12">Status Penyuluh :</label>
          <div class="col-sm-12">
            <select id="status_penyuluh" class="form-control select2">
              <option value="0">-Pilih Status-</option>
              <option value="1">PNS</option>
              <option value="2">THL TBPP</option>
              <option value="3">THL TBPPD</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-12">
          <button type="button" class="col-md-12 btn btn-success" id="simpan_penyuluh"><i class="fas fa-check"></i> simpan</button>
      </div>
    </div>
    <br/>
  </div>

</div>

</section>
<!-- /.content -->

{% endblock %}
{% block js %}
<script type="text/javascript" src="{{base_url}}assets/js/action/pangan/pangan.js"></script>
{% endblock %}
