{% extends "admin/layout.html" %} {% block content %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Data Gabungan Kelompok Tani</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Profile Pengelola</a></li>
            <li class="breadcrumb-item active">Data GAPOKTAN / POKTAN</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-danger card-outline">
            <div class="card-header">
              <ul class="nav nav-pills ml-auto p-2">
                  <li class="nav-item"><a class="nav-link active" href="#tab-data" data-toggle="tab">List Data</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tab-kelompok" data-toggle="tab">Data Kelompok</a></li>
                  <li class="nav-item">
                    <div class="dropdown float-right" style="padding-left: 15px;">
                      <button type="button" class="btn btn-primary"><i class="fas fa-bars"></i></button>
                      <div class="dropdown-content">
                        <a href="#" id="add-gapoktan">Tambah Data</a>
                        <a href="#" onclick="openNav()">Tambah Kelompok</a>
                      </div>
                    </div>
                  </li>
              </ul>

              <!-- <div class="card-tools">
                <div class="input-group input-group-sm">
                    <div class="btn btn-info" id="add-gapoktan">
                      <i class="fas fa-plus"></i><span> Tambah Data</span>
                    </div>
                </div>
              </div> -->
            </div>
              <div class="card-body">
              <input id="param" value="Televisi" hidden>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab-data">
                    <table class="table table-bordered table-hover" id="list-poktan">
                        <thead>
                            <tr>
                                <th rowspan="2">
                                    No
                                </th>
                                <th rowspan="2">
                                    Nama Kelompok
                                </th>
                                <th colspan="3">
                                    Luas
                                </th>
                                <th rowspan="2">
                                    Indeks Pertanaman <code>(IP)</code>
                                </th>
                                <th rowspan="2">
                                    Hasil per Hektar <code>(Ku/Ha)</code>
                                </th>
                                <th rowspan="2">
                                    Produksi <code>(ton)</code>
                                </th>
                                <th rowspan="2">
                                    Pola Tanam
                                </th>
                                <th rowspan="2">
                                    Status Kepemilikan
                                </th>
                                <th rowspan="2">
                                    action
                                </th>
                              </tr>
                              <tr>
                                <th>
                                    Lahan Sawah <code>(ha)</code>
                                </th>
                                <th>
                                    Lahan Ladang <code>(ha)</code>
                                </th>
                                <th>
                                    Sawah Ladang
                                </th>
                            </tr>
                        </thead>
                    </table>
                  </div>
                  <div class="tab-pane" id="tab-kelompok">
                    <table class="table table-bordered table-hover" id="list-kelompok">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Nama Kelompok
                                </th>
                                <th>
                                    Tahun Pembentukan
                                </th>
                                <th>
                                    Alamat Sekretariat
                                </th>
                                <th>
                                    Kelas dalam simluhtan
                                </th>
                                <th>
                                    Skor
                                </th>
                                <th>
                                    Tahun Penetapan
                                </th>
                                <th>
                                    Jumlah Anggota
                                </th>
                                <th>
                                    action
                                </th>

                            </tr>
                        </thead>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal-kelompok">
        <div class="modal-dialog modal-lg card card-danger card-outline">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Default Modal</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-5 col-sm-2">
                  <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="vert-tabs-anggota-tab" data-toggle="pill" href="#vert-tabs-anggota" role="tab" aria-controls="vert-tabs-anggota" aria-selected="true">Anggota</a>
                    <a class="nav-link" id="vert-tabs-tambah-tab" data-toggle="pill" href="#vert-tabs-tambah" role="tab" aria-controls="vert-tabs-tambah" aria-selected="false">Tambah</a>
                  </div>
                </div>
                <div class="col-7 col-sm-10">
                  <div class="tab-content" id="vert-tabs-tabContent">
                    <div class="tab-pane text-left fade active show" id="vert-tabs-anggota" role="tabpanel" aria-labelledby="vert-tabs-anggota-tab">
                      <table class="table table-bordered table-hover" id="list-anggota-kelompok">
                          <thead>
                              <tr>
                                  <th>
                                      No
                                  </th>
                                  <th>
                                      Nama Anggota
                                  </th>
                                  <th>
                                      NIK Anggota
                                  </th>
                                  <th>
                                      Status Anggota
                                  </th>
                                  <th>
                                      action
                                  </th>

                              </tr>
                          </thead>
                      </table>
                    </div>
                    <div class="tab-pane fade" id="vert-tabs-tambah" role="tabpanel" aria-labelledby="vert-tabs-tambah-tab">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="nama_kelompok">Nama Anggota:</label>
                            <input type="text" class="form-control" id="nama_anggota" placeholder="">
                            <input type="text" id="id_kelompok" hidden>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="tahun_pembentukan_kelompok">NIK Anggota:</label>
                            <input type="text" class="form-control" id="nik_anggota" placeholder="">
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="status_anggota" class="col-sm-12">Status dalam kelompok:</label>
                            <div class="col-sm-12">
                              <select id="status_anggota" class="form-control select2">
                                <option value="0">-Pilih status-</option>
                                <option value="1">Ketua</option>
                                <option value="2">Sekretaris</option>
                                <option value="3">Bendahara</option>
                                <option value="4">Anggota</option>
                                <option value="5">Lainnya</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
              <button type="button" class="btn btn-primary" id="simpan-anggota">simpan</button>
            </div>
          </div>
        </div>
      </div>


  <div id="mySidenav" class="sidenav card card-danger card-outline">
    <div class="card-header" style="padding: 0 10% 0 0;">
      <div class="card-tools">
        <a href="javascript:void(0)" class="" onclick="closeNav()">&times;</a>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="nama_kelompok">Nama Kelompok Tani:</label>
            <input type="text" class="form-control" id="nama_kelompok" placeholder="">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="tahun_pembentukan_kelompok">Tahun Pembentukan:</label>
            <input type="text" class="form-control" id="tahun_pembentukan_kelompok" placeholder="">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="alamat_kelompok">Alamat Sekretariat:</label>
            <textarea type="text" class="form-control" id="alamat_kelompok" placeholder=""></textarea>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="kelas_simluhtan_kelompok">Kelas dalam simluhtan:</label>
            <input type="text" class="form-control" id="kelas_simluhtan_kelompok" placeholder="">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="skor_kelompok">Skor:</label>
            <input type="text" class="form-control" id="skor_kelompok" placeholder="">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="tahun_penetapan_kelompok">Tahun Penetapan:</label>
            <input type="text" class="form-control" id="tahun_penetapan_kelompok" placeholder="">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="jumlah_anggota_kelompok">Jumlah Anggota:</label>
            <input type="text" class="form-control" id="jumlah_anggota_kelompok" placeholder="">
          </div>
        </div>
        <div class="col-md-12">
            <button type="button" class="col-md-12 btn btn-success" id="simpan_kelompok">simpan</button>
        </div>
      </div>
      <br/>
    </div>

  </div>

  <div class="modal fade" id="modal-detail">
    <div class="modal-dialog modal-lg card card-danger card-outline">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Detail Data</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="status_lahan" class="col-sm-12">Status Kepemilikan Lahan :</label>
                <div class="col-sm-12">
                  <select id="status_lahan" class="form-control select2">
                    <option value="0">-Pilih status-</option>
                    <option value="1">Pemilik Penggarap</option>
                    <option value="2">Penggarap</option>
                    <option value="3">Buruh Tani</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="komoditas" class="col-sm-12">Komoditas :</label>
                <div class="col-sm-12">
                  <select id="komoditas" class="form-control select2">
                    <option value="0">-Pilih komoditas-</option>
                    <option value="1">Padi</option>
                    <option value="2">Jagung</option>
                    <option value="3">Kedelai</option>
                    <option value="4">Kacang Tanah</option>
                    <option value="5">Kacang Hijau</option>
                    <option value="6">Umbi-Umbian</option>
                    <option value="7">Ubi Jalar</option>
                    <option value="8">Ubi Kayu</option>
                    <option value="9">sorgum</option>
                    <option value="10">Ubi Cilembu</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="varietas" class="col-sm-12">Varietas :</label>
                <div class="col-sm-12">
                  <select id="varietas" class="form-control select2">
                    <option value="0">-Pilih varietas-</option>
                    <option value="1">Hibrida</option>
                    <option value="2">Inbrida</option>
                    <option value="3">Ciherang</option>
                    <option value="4">Sintanur</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="bantuan_pemerintah" class="col-sm-12">Bantuan Pemerintah</label>
                <div class="col-sm-12">
                  <select id="bantuan_pemerintah" class="form-control select2">
                    <option value="0">-Pilih-</option>
                    <option value="1">Benih</option>
                    <option value="2">Alsintan</option>
                    <option value="3">Seritifkasi</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="pemilik_aset" class="col-sm-12">Kepemilikan Aset :</label>
                <div class="col-sm-12">
                  <select id="pemilik_aset" class="form-control select2">
                    <option value="0">-Pilih aset-</option>
                    <option value="1">Kelompok</option>
                    <option value="2">Brigade</option>
                    <option value="3">Kabupaten</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="jml_aset">jml_aset:</label>
                <input type="text" class="form-control" id="jml_aset" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="tahun_perolehan">tahun_perolehan:</label>
                <input type="text" class="form-control" id="tahun_perolehan" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="sumber_aset" class="col-sm-12">Sumber Perolehan Aset :</label>
                <div class="col-sm-12">
                  <select id="sumber_aset" class="form-control select2">
                    <option value="0">-Pilih Bantuan-</option>
                    <option value="1">Bantuan APBN Pusat</option>
                    <option value="2">Bantuan APBN TP Provinsi</option>
                    <option value="3">Bantuan APBD Provinsi</option>
                    <option value="4">Bantuan APBD Kabupaten</option>
                    <option value="5">Swadaya</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="kordinat">kordinat:</label>
                <input type="text" class="form-control" id="kordinat" placeholder="">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</section>

<!-- /.content -->

{% endblock %}
{% block js %}
<script type="text/javascript" src="{{base_url}}assets/js/action/profile/listgapoktan.js"></script>
{% endblock %}
